*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-wrapper{
    position: fixed;
    
	background-color: var(--black-color);
	border: 1px solid var(--black4-color);
	min-width: 23rem;
	max-width: 23rem;
	height: 100vh;
	z-index: 2137;
	transition: min-width 0.2s ease;

	@media (max-width: 1200px) {
		position: fixed;
	}

	@media (max-width: 600px) {
		min-width: 20rem;
		max-width: 20rem;
	}
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 0.5rem;
}
.nav-wrapper span{
    color: #a0a0a0;
    size:1.3rem;
}
.home{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--black3-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    color: var(--white-color);
    display: flex;
    font-size: var(--basic-size);
    padding: 1.5rem 2rem;
    transition: color .2s ease;
}
.link{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: var(--grey-color);
    display: flex;
    font-size: var(--basic-size);
    padding: 1.5rem 2rem;
    position: relative;
    cursor: pointer;
}
.active {
    display: flex;
    align-items: center;
    font-size: var(--basic-size);
    color: var(--white-color);
    padding: 0.4rem;
    transition: color 0.2s ease;
    padding: 1.5rem 2rem;
    background-color: var(--black3-color);
    border-radius: 1rem;
    border: 1px solid transparent;

    @media (max-width: 600px) {
        padding: 1rem;
    }

    &:hover {
        color: var(--white-color);
        background-color: var(--black3-color);
    }

    .icon {
        margin-right: 1.5rem;
    }

    span {
        span {
            top: -0.5rem;
            right: -0.5rem;
        }
    }
}