*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-wrapper{
    position: fixed;
	background-color: var(--black-color);
	border: 1px solid var(--black4-color);
	/* min-width: 23rem;
	max-width: 23rem; */
	height: 100vh;
	z-index: 2137;
	transition: min-width 0.2s ease;

	@media (max-width: 1200px) {
		position: fixed;
	}

	@media (max-width: 600px) {
		min-width: 20rem;
		max-width: 20rem;
	}
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    padding: 0.5rem;
}
.nav-wrapper span{
    
    color: aqua;
    size:1.3rem;
}

.home{
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--black3-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    color: var(--white-color);
    display: grid;
    font-size: var(--basic-size);
    padding: 19.5rem 5rem;
    transition: color .2s ease;
    padding-left:400px;
}
.home1{
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--black3-color);
    border: 1px solid transparent;
    border-radius: 1rem;
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    font-size: var(--basic-size);
    padding: 6rem 5rem;
    padding-left:400px;
}
.link{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: var(--grey-color);
    display: flex;
    font-size: var(--basic-size);
    padding: 1.5rem 2rem;
    position: relative;
    cursor: pointer;
}
.active {
    display: flex;
    align-items: center;
    font-size: var(--basic-size);
    color: var(--white-color);
    padding: 0.4rem;
    transition: color 0.2s ease;
    padding: 1.5rem 2rem;
    background-color: var(--black3-color);
    border-radius: 1rem;
    border: 1px solid transparent;

    @media (max-width: 600px) {
        padding: 1rem;
    }

    &:hover {
        color: var(--white-color);
        background-color: var(--black3-color);
    }

    .icon {
        margin-right: 1.5rem;
    }

    span {
        span {
            top: -0.5rem;
            right: -0.5rem;
        }
    }
}
.container{
    color: #a0a0a0;
    list-style: none;
    padding: 1rem;
    position: relative;
    width: 70%;
    max-width: 430px;
    grid-gap: 2.5rem;
    display: flex;
    gap: 2.5rem;
    grid-template-columns: repeat(1,1fr);
    margin-top: 3rem;
    background-color: var(--black-color);
    border: 1px solid aqua;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    
}
.container h2 {
    font-size: xx-large;
    color: aqua;
    border: #a0a0a0 solid 1px;
    max-width: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    
}
.container .p1 {
    font-size: medium;
    color: rgb(3, 106, 106);
    border: #61dafb solid 1px;
    width: 70%;
    border-radius: 10px;
    height: 100px;
    padding: 10px;
    white-space: wrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
    
}
.container .p2 {
    font-size: medium;
    color: #a0a0a0;
    border: #61dafb solid 0.5px;
    max-width: 450px;
    border-radius: 10px;
    overflow: hidden;
    padding: 3px
    
}
::selection {
    color: white;
    background-color: var(--main-color);
}
.formwrap{
    display: flex;
    flex-direction:column;
    gap: 30px;
}
.detailbutton{
    color: #61dafb;
    background-color: rgb(29, 29, 29);
    width: 70px;
    height: 30px;
    border-radius: 10px;
}
